/* style.css */
:root {
  --color-light-blue: #e0f1ff;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Set background colors and padding*/
body {
  background: var(--color-light-blue);
}

header,
footer {
  background: #ffffff;
  padding: 3px 1rem 3px;
}

/* Structure */
main {
  margin: auto;
}

article {
  padding: 1rem;
}

img {
  width: 100%;
  border-radius: 20px;
}

hr {
  color: #ffffff;
  background-color: #ffffff;
  width: 70vw;
  border-style: solid;
  margin: auto;
}

/* Text */
h1,
h2,
h3,
footer p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #37718e;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
  color: #254e70;
  margin-top: 0px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
  line-height: 1.5em;
}

p,
ul,
form label,
form button {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #031730;
}

p,
ul,
form {
  text-align: left;
}

/* Header */
header h1 {
  margin: 0;
  padding-top: 20px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
}

header nav ul li a {
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* Spacing */
#contact .item section {
  margin-bottom: 1rem;
}

#portfolio hr {
  margin-bottom: 2rem;
}

#portfolio {
  margin-bottom: 1rem;
  padding-bottom: 0;
}

#portfolio h2 {
  margin: 1rem auto 2rem auto;
}

.box-with-border {
  margin: auto;
  padding: 1rem;
  max-width: 450px;
  border: 3px #ffffff solid;
  border-radius: 1rem;
}

#portfolio .box-with-border,
#services {
  margin-top: 0px;
  padding-top: 0px;
}

/* Link */
  a:link {
    font-weight: bold;
    color: #004ec9;
    text-decoration: none;
  }

  a:visited {
    color: #004ec9;
  }

  a:hover {
    color: #647ca8;
  }

  a:active {
    color: #0052a3;
  }

/* Other classes */
.bg-block {
  background-color: #ffffff;
}

.center {
  text-align: center;
}

.no-bullets {
  list-style: none;
}

/* ids */
#intro {
  margin: 2rem auto;
}

#intro img {
  max-width: 150px;
  margin-top: 1rem;
}

#intro .box-with-border {
  margin: 0;
}

#about img {
  max-width: 450px;
  margin-bottom: 1rem;
}

#contact-list .box-with-border,
#portfolio .box-with-border {
  border-color: var(--color-light-blue);
}

/* Group and items */
.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  flex: 1;
  text-align: center;
}

/* ---  Contact Form Design --- */
form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  font-size: 14px;
  width: 100%;
  padding: 3px;
  margin: 8px 0;
  border: none;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus,
form button:focus {
  outline-color: #254e70;
}

form button {
  background-color: #fff;
  border: none;
  padding: 8px 1rem;
  text-decoration: none;
  display: inline-block;
}

form label,
form button {
  color: #254e70;
}

/* Media Queries */
@media all and (min-width: 970px) {
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 15px;
  }

  header nav ul li a {
    font-size: 17px;
  }

  /* Classes */
  .group {
    flex-direction: row;
    margin: 48px auto;
    max-width: 1000px;
  }

  .box-with-border {
    padding: 2rem;
  }

  /* ids */
  #intro img {
    margin: 0 0 0 3rem;
    max-width: 270px;
  }

  #portfolio h2 {
    margin-top: 4rem;
  }

  #portfolio .group {
    margin-bottom: 0.5rem;
  }
  
  #services {
    padding-top: 2rem;
  }
  
  #contact-form {
    margin-right: 30%;
    min-width: 20rem;
  }

  #contact-list h2,
  #contact-list p {
    text-align: right;
  }

  #portfolio hr {
    display: none;
  }

  #about .box-with-border {
    border-color: var(--color-light-blue);
  }

  #about img,
  #services {
    margin-left: auto;
    margin-right: auto;
  }

  #contact .box-with-border {
    max-width: none;
  }

  #services.box-with-border {
    margin-top: 1rem;
  }
}
